@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);


polygon{
	fill: #5B5C66;
}

#sonora{
	fill: red;
}

#nav-bar-wrapper{
	display: none;
}


text{
	color: white;
	fill: white;
	text-transform: uppercase;
	font-family: 'Lato';
	pointer-events: none;
}
	
#indepth_burbujas_container{
	display: table;
	margin: auto;
	max-width: 1000px;
	width: 100%;
	
}
	
.jugadores_cont{
	pointer-events: none;
}

.indepth_pages{
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: 19px;
	margin: auto;
}

.indepth_page{
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: white;
	margin: auto;
	font-family: 'Lato', sans-serif;
}

.indepth_page_content{
	background-color:  white;
	position: relative;
	
}

.indepth_share{
		position: fixed;
		right: 15px;
		bottom: 20px;
		z-index: 2000;
		display: -webkit-inline-box;
     display: -webkit-inline-flex;
   display: -moz-inline-box;
     display: -ms-inline-flexbox;
     display: inline-flex;
		
	}
	
	#drag{
		display: none;
		right: 3px;
		top: 8px;
		z-index: 2000;
	}
	
	.indepth_share_item{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.4);
		float: left;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 20px ;
		margin-left: 7px;
		cursor: pointer;
		margin-bottom: 5px;
	}
	
	.indepth_share_item.facebook{
		background-image: url(../images/boton_facebook.png);
	}
	
	.indepth_share_item.facebook:hover{
		background-color: #3660A4;
	}
	
	.indepth_share_item.twitter{
		background-image: url(../images/boton_twitter.png);
	}
	
	.indepth_share_item.twitter:hover{
		background-color: #02B2F7;
	}
	
	.indepth_share_item.whatsapp{
		display: none;
		background-image: url(../images/boton_whatsapp.png);
	}
	
	.indepth_share_item.whatsapp:hover{
		background-color: #85D86D;
	}

#com{
	background: white;
}

#indepth_coments{
	max-width: 800px;
	margin: auto;
	width: 100%;
}

.indepth_page_content .indepth_title{
	font-size:40px;   /* tamaÃ±o */
	font-weight: 700;
	text-transform: uppercase; /* comentar para quitar mayusculas */
	text-align: center; /* ajustar alineacion (justify, left, right o center) */	
	color: #fd6968;
}

.indepth_page_body{
	bottom: 0px;
	left: 0px;
	margin: 0 auto;
	position: relative;
	right: 0px;
	top: 0px;
	max-width: 1440px;
	z-index: 2;
	padding: 60px 0;
}

#indepth_cover{
	background: #141414;
}

#indepth_cover .indepth_page_body{
	position: relative;
	display: table;
	text-align: center;
	height: 100%;
	background: ;
	background-repeat: no-repeat;
	background-position: center 20px;
	background-size: 1332px auto;
	max-width: 1440px;
	background-image: url();
	width: 100%;
	padding: 0;
}

.indepth_page_content .indepth_text{
	color: #535252; /* color de la fuente*/
	text-align:justify; /* ajustar alineacion (justify, left, right o center) */
	font-weight: 400;
	font-size: 1em;
	width: 660px;
	margin: auto;
}

#indepth_intro .indepth_page_body{
}

#indepth_cover .indepth_titlle_container{
	margin-top: 240px;
	 color: #FFF;
}

 #indepth_ver_texto{
	display: inline-block;
	 cursor: pointer;
	 width: 50px;
	 height: 50px;
	 background-image: url(../images/Flecha.svg);
	 background-size: 100%;
	 margin-top: 60px;
}

#indepth_ver_texto:hover{
	
}

#indepth_cover .indepth_parallax_back{
	background-image: url(../images/Fondo.jpg);
	background-size: cover;
	background-position: center center;	
	background-attachment: fixed;
	display: table;
	width: 100%;
	height: 100%;
}

.indepth_cover_content{
	
	display: table-cell;
	
	vertical-align: middle;
	
}

.indepth_cover_content .indepth_cover_conatainer_in{
	width: 950px;
	height: 585px;
	margin: auto;
	position: relative;
}

#indepth_monitor{
	background-image: url(../images/Box1-01.svg);
	background-size: 100%;
	width: 644px;
	height: 140px;
	position: absolute;
	background-repeat: no-repeat;
	right: 0px;
	top: 10px;
	overflow: hidden;
}

#indepth_monitor_img{
	display: table;
	vertical-align: middle;
	height: 100%;
}

#indepth_monitor_img img{
	height: 80px;
	margin-top: 30px;
	-webkit-animation: monitor_mov 8s infinite; /* Safari 4+ */
  -moz-animation:    monitor_mov 8s infinite; /* Fx 5+ */
  -o-animation:      monitor_mov 8s infinite; /* Opera 12+ */
  animation:         monitor_mov 8s infinite;
  animation-timing-function: linear;
}






#indepth_mono_container{
	width: 270px;
	height: 585px;
	background-image: url(../images/Box4-01.svg);
	background-size: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: table;
}

#indepth_barras{
	width: 230px;
	height: 420px;
	background-image: url(../images/Box5-01.svg);
	background-size: 100% 100%;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

#barras_container{
	width: 200px;
	height: auto;
	display: table;
	margin: auto;
	margin-top: 50px;
}

#barras_container ul{
	text-decoration: none;
	 list-style:none;
}

#barras_container li{
	height: 30px;
	margin-bottom: 8px;
}

#barra_1{
	background-color: #6ac5ed;
	width: 80%;
	-webkit-animation: barra_mov_1 8s infinite; /* Safari 4+ */
  -moz-animation:    barra_mov_1 8s infinite; /* Fx 5+ */
  -o-animation:      barra_mov_1 8s infinite; /* Opera 12+ */
  animation:         barra_mov_1 8s infinite;
  animation-timing-function: linear;
}


@keyframes barra_mov_1 {
    0% {width: 80%;}
    30% {width: 40%;}
    60% {width: 90%;}
    100% {width: 80%;}
}

@-webkit-keyframes barra_mov_1 {
   0% {width: 80%;}
    30% {width: 40%;}
    60% {width: 90%;}
    100% {width: 80%;}
}

@-moz-keyframes barra_mov_1 {
    0% {width: 80%;}
    30% {width: 40%;}
    60% {width: 90%;}
    100% {width: 80%;}
}

@-o-keyframes barra_mov_1 {
   0% {width: 80%;}
    30% {width: 40%;}
    60% {width: 90%;}
    100% {width: 80%;}
}

@keyframes barra_mov_1 {
    0% {width: 80%;}
    30% {width: 40%;}
    60% {width: 90%;}
    100% {width: 80%;}
}



#barra_2{
	background-color: #1578ab;
	width: 60%;
	-webkit-animation: barra_mov_2 6s infinite; /* Safari 4+ */
  -moz-animation:    barra_mov_2 6s infinite; /* Fx 5+ */
  -o-animation:      barra_mov_2 6s infinite; /* Opera 12+ */
  animation:         barra_mov_2 6s infinite;
  animation-timing-function: linear;
}


@keyframes barra_mov_2 {
    0% {width: 60%;}
    30% {width: 80%;}
    60% {width: 30%;}
    100% {width: 60%;}
}

@-webkit-keyframes barra_mov_2 {
    0% {width: 60%;}
    30% {width: 80%;}
    60% {width: 30%;}
    100% {width: 60%;}
}
@-moz-keyframes barra_mov_2 {
    0% {width: 60%;}
    30% {width: 80%;}
    60% {width: 30%;}
    100% {width: 60%;}
}
@-o-keyframes barra_mov_2 {
    0% {width: 60%;}
    30% {width: 80%;}
    60% {width: 30%;}
    100% {width: 60%;}
}


#barra_3{
	background-color: #149bea;
	width: 75%;
	-webkit-animation: barra_mov_3 7s infinite; /* Safari 4+ */
	-moz-animation:    barra_mov_3 7s infinite; /* Fx 5+ */
	-o-animation:      barra_mov_3 7s infinite; /* Opera 12+ */
	animation:         barra_mov_3 7s infinite;
	animation-timing-function: linear;
}

@keyframes barra_mov_3 {
    0% {width: 75%;}
    30% {width: 85%;}
    60% {width: 50%;}
	80% {width: 30%;}
    100% {width: 75%;}
}

@-webkit-keyframes barra_mov_3 {
   0% {width: 75%;}
    30% {width: 85%;}
    60% {width: 50%;}
	80% {width: 30%;}
    100% {width: 75%;}
}
@-moz-keyframes barra_mov_3 {
   0% {width: 75%;}
    30% {width: 85%;}
    60% {width: 50%;}
	80% {width: 30%;}
    100% {width: 75%;}
}
@-o-keyframes barra_mov_3 {
    0% {width: 75%;}
    30% {width: 85%;}
    60% {width: 50%;}
	80% {width: 30%;}
    100% {width: 75%;}
}


#barra_4{
	background-color: #6ac5ed;
	width: 30%;
	-webkit-animation: barra_mov_4 3s infinite; /* Safari 4+ */
	-moz-animation:    barra_mov_4 3s infinite; /* Fx 5+ */
	-o-animation:      barra_mov_4 3s infinite; /* Opera 12+ */
	animation:         barra_mov_4 3s infinite;
	animation-timing-function: linear;
}

@keyframes barra_mov_4 {
    0% {width: 30%;}
    30% {width: 85%;}
    60% {width: 50%;}
	80% {width: 70%;}
    100% {width: 30%;}
}

@-webkit-keyframes barra_mov_4 {
    0% {width: 30%;}
    30% {width: 85%;}
    60% {width: 50%;}
	80% {width: 70%;}
    100% {width: 30%;}
}


@-moz-keyframes barra_mov_4 {
    0% {width: 30%;}
    30% {width: 85%;}
    60% {width: 50%;}
	80% {width: 70%;}
    100% {width: 30%;}
}
@-o-keyframes barra_mov_4 {
    0% {width: 30%;}
    30% {width: 85%;}
    60% {width: 50%;}
	80% {width: 70%;}
    100% {width: 30%;}
}


#barra_5{
	background-color: #1578ab;
	width: 94%;
	-webkit-animation: barra_mov_5 9s infinite; /* Safari 4+ */
	-moz-animation:    barra_mov_5 9s infinite; /* Fx 5+ */
	-o-animation:      barra_mov_5 9s infinite; /* Opera 12+ */
	animation:         barra_mov_5 9s infinite;
	animation-timing-function: linear;
}

@keyframes barra_mov_5 {
    0% {width: 94%;}
    30% {width: 50%;}
    60% {width: 70%;}
	80% {width: 98%;}
    100% {width: 94%;}
}

@-webkit-keyframes barra_mov_5 {
     0% {width: 94%;}
    30% {width: 50%;}
    60% {width: 70%;}
	80% {width: 98%;}
    100% {width: 94%;}
}

@-moz-keyframes barra_mov_5 {
     0% {width: 94%;}
    30% {width: 50%;}
    60% {width: 70%;}
	80% {width: 98%;}
    100% {width: 94%;}
}

@-o-keyframes barra_mov_5 {
    0% {width: 94%;}
    30% {width: 50%;}
    60% {width: 70%;}
	80% {width: 98%;}
    100% {width: 94%;}
}


.idnepth_barra_sep{
	color: white;
	margin-top: 25px;
	width: 171px;
}

.indepth_mono{
	display: table-cell;
	margin: auto;
	vertical-align: middle;
	text-align: center;
}

.indepth_mono img{
	margin: auto;
}

.mono_img{
	display: none;
}


.mono_active{
	display: block;
}


#indepth_cover #indepth_title{
	width: 360px;
	height: 360px;
	margin: auto;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 320px;
	
}


.indepth_tltle_text{
	color: #00adef;
	font-size: 56px;
	text-align: center;
	line-height: 66px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 30px;
}



.indepth_pesentado{
	color: white;
	font-size: 20px;
	margin-bottom: 10px;
}

.indepth_arrow_cover{
	width: 70px;
	height: 70px;
	background-image: url(../images/Arrow_1-01.svg);
	margin: auto;
	margin-top: 40px;
	cursor: pointer;
	background-size: 100%;
}

.indepth_arrow_cover:hover{
	opacity: .6;
	width: 65px;
	height: 65px;
	transform: translate(2px,2px);
}


.indepth_parallax_back {
	height: 100%;
	background-size: 1440px auto;
	background-color: #000;
	top: 0px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}



#indepth_page1{
	background-color: #22212a;
	top: 0;
	left: 0;
	position: relative;
}


.indepth_break{
		height: 800px;
}

.indepth_break .indepth_page_body{
	height: 100%;
	background-size: cover;
	top: 0px;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
}

#indepth_page2{
	background-color: #292833;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding:50px 0px;
	color: white;
	
}

.indepth_dirigidos_cont{
	display: table;
	margin: 30px auto;
	width: 1020px;
}

#indepth_numero_dirigidos{
	color: white;
	width: 106px;
	height: 106px;
	border-radius: 50%;
	border: 10px solid white;
	margin: 40px auto;
	line-height: 106px;
	text-align: center;
	font-size: 46px;
}

#grafica_amistosos{
	float: right;	
}

.indepth_grafica_dirigidas{
	width: 500px;
	display: table;
	float: left;
}

.indepth_grafica_partidos{
	display: table;
	margin: auto;
	width: 270px;
	height: 270px;
	position: relative;
}

.indepth_grafica_text_out{
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	color: #b1abb0;
}

.indepth_grafica_text_in{
	display: table-cell;
	vertical-align: middle;
}

.indepth_grafica_total{
	font-size: 44px;
}

.indepth_grafica_ptext{
	font-size: 26px;
	font-weight: 300;
}

.indepth_partidos_tabla{
	width: 100%;
	display: table;
	margin: 40px auto;
}

.indepth_partidos_columna{
	float: left;
	width: 164px;
	display: table;
	margin-right: 4px;
}

.indepth_partidos_columna:last-child{
	margin: 0;
}

.indepth_partidos_columna.ganados .indepth_partidos_circulo, .indepth_partidos_columna.ganados .indepth_box_partidos{
	background-color: #6bdb6b;
}

.indepth_partidos_columna.ganados .indepth_marcador_team{
	color: #6bdb6b;
}

.indepth_partidos_columna.empatados .indepth_partidos_circulo, .indepth_partidos_columna.empatados .indepth_box_partidos{
	background-color: #8b8c8f;
}

.indepth_partidos_columna.empatados .indepth_marcador_team{
	color: #8b8c8f;
}

.indepth_partidos_columna.perdidos .indepth_partidos_circulo, .indepth_partidos_columna.perdidos .indepth_box_partidos{
	background-color: #e82b2c;
}

.indepth_partidos_columna.perdidos .indepth_marcador_team{
	color: #e82b2c;
}

.indepth_box_partidos{
	width: 100%;
	height: 25px;
	margin-top: 20px;
}


.indepth_partidos_circulo{
	width: 116px;
	height: 116px;
	border-radius: 50%;
	margin: auto;
	display: table;
	color: white;
	text-align: center;
}

.indepth_partido_circulo_cont{
	display: table-cell;
	vertical-align: middle;
}

.indepth_partido_circulo_num{
	font-size: 34px;
	line-height: 34px;
}

.indepth_partido_circulo_text{
	font-size: 18px;
	font-weight: 300;
}


.indepth_partidos_container{
	display: table;
	margin-top: 5px;
	width: 100%;
}

.partido_item{
	width: 100%;
	background-color: #26262e;
	display: table;
	min-height: 22px;
	padding:  9px 0;
	display: table;
	text-align: center;
	
}

.indepth_escudo_team{
	width: 32px;
	height: 22px;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.indepth_escudo_team img{
	height: 100%;
}

.indepth_team_cont_out{
	height: 100%;
	min-height: 22px;
	width: 132px;
	display: table;
	float: left;
}

.indepth_team_cont{
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 13px;
}

.indepth_nombre_team{
	width: 96px;
	float: left;
	text-align: left;
	
	
}

.indepth_marcador_team{
	float: right;
	width: 28px;
	text-align: right;
	margin-right: 5px;
}

#indepth_page3{
	background: #22212a;
	color: #e2e1dd;
	padding: 50px 0px;
}

#indepth_min_jug_container{
	width: 1000px;
	margin: auto;
	display: table;
	position: relative;
}

.idnepth_jugmin_container{
	
}

.indepth_min-left{
	
}

.indepth_mints{
	width: 100%;
	height: 160px;
	
}

.indepth_mints_left{
	width: 5%;
	height: 100%;
	 -ms-transform: translate(0,-13px); /* IE 9 */
    -webkit-transform: translate(0,-13px);
	transform: translate(0,-13px);
	float: left;

}

.indepth_mints_r{
	width: 95%;
	float: right;
	border-top: 3px solid #2c2b34;
}

.indepth_min_back{
	width: 100%;
	height: auto;
	display: table;
	top: 160px;
	left: 0px;
	position: absolute;
}

.indepth_min_cont{
	width: 930px;
	float: right;
	display: table;
}

.indepth_jugadores_up{
	height: 640px;
}

.indepth_jugadores_back{
	border-top: 4px solid #ea4344;
}

.indepth_jugmin_jugador{
	width: 84px;
	float: left;
	display: table;
}

.indepth_jugmin_barra{
	width: 4px;
	height: 20px;
	background-color: #ea4344;
	margin: auto;
}

.indepth_jugmin_name{
	padding-top: 5px;
	text-align: center;
}

.indepth_barra_jugmin{
	width: 84px;
	height: 100%;
	float: left;
	position: relative;
	bottom: 0px;
}

.indepth_linea_barra{
	
	position: absolute;
	bottom: 0px;
	width: 100%;
	display: table;
	height: 75%;
}

.indepth_linea_barra .indepth_linea_in{
	width: 0px;
	height: 100%;
	margin: auto;
	border-left: 2px dashed rgba(161, 161, 161, 0.4);
}

.indepth_jugmin_jugador_imagen{
	position: absolute;
	top: 0px;
	width: 90%;
	margin-left: 5%;
	display: table;
}

.indepth_jugmin_jugador_imagen_cont{
	width: 100%;
	display: table;
	position: relative; 
}

.indepth_jugmin_jugador_imagen img{
	width: 100%;
	position: static;
	top: 0px;
	left: 0px;
	
}

.indepth_image_cont{
	position: absolute;
	transform: translate(0,-50%);
	-ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%);
	z-index: 2;
	
}

.idnepth_imagen_line{
	z-index: 1;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-right: 30px solid white;
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	transform: translate(-45px,0px);
	-ms-transform: translate(-45px,0px); /* IE 9 */
    -webkit-transform: translate(-45px,0px);
}

.idnepth_imagen_line div{
	
	
}


#indepth_break_1{
	height: 400px;
	background-image: url(../images/Fondo_2.jpg);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	
}

#indepth_break_1 .indepth_parallax_back{
	background-color: transparent;
	width: 800px;
	
	margin: auto;
	position: relative;
}

.indepth_boteLla_cont{
	position: absolute;
	right: 0px;
	bottom: 20px;
	display: table;
}

.indepth_botella_powerade{
	height: 700px;
	position: relative;
}

.indepth_power_logo{
	width: 270px;
	left: 120px;
	position: absolute;
	bottom: 80px;
}

.indepth_haypower{
	width: 480px;
	position: absolute;
	top: 50px;
}

#indepth_page4{
	background-color: #292833;
}

#indepth_page4{
	
}

#indepth_goleadores{
	width: 100%;
	max-width: 960px;
	height: 390px;
	margin: auto;
	margin-top: 50px;
}

.indepth_goleadores_cont.izq{
	width: 376px;
	float: left;
	height: 100%;
	display: inline-block;
}

.indepth_goleadores_cont.der{
	float: right;
	width: 500px;
	height: 100%;
}


.indepth_goleador_circulo{
	width: 80px;
	height: 80px;
	background: white;
	float: left;
	margin: 3px 3px;
	border: 4px solid #d1d1d1;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
}

.indepth_goleador_circulo:hover{
	border: 4px solid #ee494a;
}

.indepth_goleador_circulo img{
	height: 100%;
}

.indepth_barra_goleador{
	width: 500px;
	height: 60px;
	background-color: #22212a;
	color: white;
	font-size: 22px;
}

.indepth_barra_nombre_jug{
	float: left;
	width: 300px;
	height: 100%;
	text-align: center;
	line-height: 100%;
	display: table;
}

.indepth_barra_nombre_jug div{
	display: table-cell;
	vertical-align: middle;
}

.indepth_barra_goles{
	float: left;
	width: 200px;
	display: table;
	height: 100%;
	background-color: #24242c;
}

.indepth_barra_goles_cont{
	display: table-cell;
	vertical-align: middle;
	
}

.indepth_barra_goles_cont div{
	display: table;
	margin: auto;
	background-image: url(../images/Icon-01.svg);
	padding-left: 50px;
	background-size: 25px;
	line-height: 25px;
	background-repeat: no-repeat;
	
	background-position: left center;
}

.indepth_jugador_goles{
	display: table;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	position: relative;
	height: 50px;
}

.indepth_jugador_goles img{
	width: 100px;
}

.indepth_goles{
	position: absolute;
	height: 50px;
	  min-width: 150px;

}

.indepth_circulo_goles{
	background-color: rgba(125, 125, 125, 0.2);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
	
}

.indepth_linea_goles{ 
	float: left;
	height: 100%;
	display: table;
	vertical-align: middle;
	margin: auto 7px;
}

.indepth_linea_goles_in{
	display: table-cell;
	vertical-align: middle;
}

.indepth_linea_goles_in div{
	width: 60px;
	height: 2px;
	background-color: #6e6f71;

}

.indepth_numero_goles{
	float: left;
	display: table;
	line-height: 50px;
	color: white;
}

#indepth_goles_izquierda{
	right: -110px;
	bottom: -10px;
	
	
}

#indepth_goles_derecha{
	left: -110px;
	bottom: -10px;
	text-align: right;
}

#indepth_goles_derecha .indepth_circulo_goles{
	float: right;
}

#indepth_goles_derecha .indepth_linea_goles{
	float: right;	
	
}

#indepth_goles_derecha .indepth_numero_goles{
	float: right;
}


#indepth_goles_cabeza{
	top: -10px;
	left: 21px;
}

#indepth_goles_cabeza .indepth_circulo_goles{
	width: 60px;
	height: 60px;
}

#indepth_page5{
	background-color: #22212a;
}

#indepth_goles_min_container{
	display: table;
	margin: auto;
	max-width: 924px;
	width: 96%;
}

.indepth_tiempos_cont{
	height: 24px;
	display: table;
	margin: 40px auto;
}

.indepth_tiempos{
	float: left;
	height: 24px;
	display: table;
	margin: auto;
}

.indepth_tiempos.primero{
	width: 205px;
}

.indepth_tiempos.primero .indepth_tiempo_box{
	background-color: #ffee11; 
}

.indepth_tiempo_box{
	width: 52px;
	height: 24px;
	float: left;
	
}


.indepth_tiempos.segundo .indepth_tiempo_box{
	background-color: #6dda69;
}

.indepth_tiempo_text{
	color: white;
	padding-left: 10px;
	line-height: 100%;
	float: left;
	line-height: 24px;
}

.indepth_graficas_goles{
	width: 100%;
	margin-top: 40px;
}

.indepth_graficas_head{
	width: 100%;
	border-bottom: 2px solid #797a80;
	text-transform: uppercase;
	line-height: 34px;
	font-size: 18px;
}

.indepth_texto_grafica_head{
	margin-left: 20px;
	
}

.indepth_graficas_goles.favor{
	color:  #2a56ae;
}

.indepth_graficas_goles.contra{
	color:  #c42c2c;
}

.indepth_graficas_cont{
	display: table;
	width: 100%;
	padding: 40px 0;
}

.indepth_grafica{
	width: 50%;
	min-width: 400px;
	margin: auto;
	float: left;
	
}

.indepth_grafica_in{
	width: 400px;
	margin: auto;
}

.indepth_grafica_text{
	color: white;
	width: 300px;
	margin-left: 40px;
	font-size: 18px;
	margin-bottom: 40px;
	
}

.indepth_grafica_text span{
	float: right;
}

.indepth_grafica_image{
	width: 290px;
	margin: auto;
	position: relative;
}

.indepth_grafica_image img  {
	width: 100%;
}


.indepth_grafica_numeros{
	position: absolute;
	font-size: 22px;
	display: table;
}


#indepth_grafica_numeros_15{
	top: -14px;
	right: -34px;
}

#indepth_grafica_numeros_30{
	top: 92px;
	right: -34px;
}

#indepth_grafica_numeros_45{
	bottom: 0px;
	right: -34px;
}

#indepth_grafica_numeros_60{
	bottom: 0px;
	left: -34px;
}

#indepth_grafica_numeros_75{
	top: 92px;
	left: -34px;
}

#indepth_grafica_numeros_90{
	top: -14px;
	left: -34px;
}

#indepth_page6{
	background-color: #292833;
}

#indepth_mapa_container{
	width: 800px;
	margin: 60px auto;
	display: table;
	
}

.indepth_mapa_svg{
	width: 625px;
	float: right;
}

.indepth_mapa_svg svg{
	width: 100%;
}

.indepth_mapa_left{
	width: 150px;
	float: left;
	color: white;
}

.indepth_edo_data{
	width: 100%;
	display: table;
	float: left;
	height: 30px;
	
}

.indepth_edo_box{
	height: 100%;
	width: 30px;
	line-height: 30px;
	font-size: 14px;
	float: left;
	text-align: center;

}

.indepth_edo_nombre{
	height: 100%;
	line-height: 30px;
	font-size: 14px;
	float: left;
	margin-left: 10px;
}

#indepth_edo1 .indepth_edo_box{
	background-color: #e42a2c;
}

#indepth_edo2 .indepth_edo_box{
	background-color: #e46e2d;
}

#indepth_edo3 .indepth_edo_box{
	background-color: #e2bd31;
}

#indepth_edo4 .indepth_edo_box{
	background-color: #dee334;
}

#indepth_edo5 .indepth_edo_box{
	background-color: #a6df34;
}

#indepth_edo6 .indepth_edo_box{
	background-color: #a6df34;
}

#indepth_edo7 .indepth_edo_box{
	background-color: #71da35;
}

#indepth_edo8 .indepth_edo_box{
	background-color: #71da35;
}

#indepth_edo9 .indepth_edo_box{
	background-color: #71da35;
}

#indepth_edo10 .indepth_edo_box{
	background-color: #71da35;
}



@media screen and (max-width:1023px) {
	.indepth_page_body{
		width: 100%;
	}
	
	.indepth_grafica_dirigidas{
		width: 430px;
	}
	
	.indepth_partidos_columna{
		width: 140px;
	}
	
	.indepth_escudo_team {
	  width: 28px;
	  float: none;
	  width: 100%;
	  display: block;
	  margin-bottom: 5px;
	}
	
	.indepth_team_cont_out{
		margin: auto;
		float: none;
		width: 126px;
	}
	
	.indepth_marcador_team{
		margin-right: 0;
	}
	
	.indepth_dirigidos_cont{
		max-width: 900px;
		width: 100%;
	}
	
	.indepth_min_cont{
		width: 840px;
	}
	
	.indepth_barra_jugmin, .indepth_jugmin_jugador{
		width: 74px;
	}
	
	#indepth_goleadores{
		width: 900px;
	}
	
	
	
	
}

@media screen and (max-width:960px) {
	.indepth_cover_content .indepth_cover_conatainer_in{
		width: 800px;
		height: 505px;
	}	
	
	#indepth_mono_container {
	  width: 230px;
	  height: 500px;
	}
	
	#indepth_monitor{
		width: 500px;
		height: 110px;
	}
	
	#indepth_monitor_img img{
		height: 50px;
		-webkit-animation: monitor_mov_960 8s infinite; /* Safari 4+ */
		-moz-animation:    monitor_mov_960 8s infinite; /* Fx 5+ */
		-o-animation:      monitor_mov_960 8s infinite; /* Opera 12+ */
		animation:         monitor_mov_960 8s infinite;
	}
	
	#indepth_barras {
	  width: 200px;
	  height: 360px;
	}
	
	#indepth_cover #indepth_title{
		left: 240px;
	}
	
	#barras_container{
		width: 172px;
		margin-top: 30px;
		
	}
	
	#barras_container li{
		height: 28px;
	}
	
	.indepth_mono img{
		height: 80%;
	}
	
	#indepth_min_jug_container{
		width: 900px;
	}
	
}


@media screen and (max-width:880px) {
	
	.indepth_grafica_dirigidas{
		width: 500px;
		float: none;
		margin: auto;
	}
	
	.indepth_partidos_columna{
		width: 164px;
	}
	
	.indepth_escudo_team {
	  width: 32px;
	  float: left;
	  display: table-cell;
	  margin-bottom: 5px;
	}
	
	.indepth_team_cont_out{
		margin: auto;
		float: left;
		width: 132px;
	}
	
	.indepth_marcador_team{
		margin-right: 5px;
	}
	
	#grafica_amistosos{
		float: none;
		margin-top: 20px;
	}
	
	#indepth_goleadores{
		width: 800px;
	}
	
	.indepth_goleadores_cont.der{
		width: 400px;
	}
	
	.indepth_barra_goleador{
		width: 400px;
	}
	
	.indepth_barra_nombre_jug{
		width: 250px;
	}
	
	.indepth_barra_goles{
		width: 150px;
	}
	
	.indepth_grafica{
		min-width: 390px;
	}
	
}


@media screen and (max-width:830px) {
	
	.indepth_cover_content .indepth_cover_conatainer_in{
		width: 700px;
		height: 440px;
	}
	
	#indepth_mono_container {
	  width: 200px;
	  height: 440px;
	  background-repeat: no-repeat;
	}
	
	#indepth_monitor{
		width: 440px;
		height: 95px;
	}
	
	#indepth_monitor_img img{
		height: 50px;
		-webkit-animation: monitor_mov_960 8s infinite; /* Safari 4+ */
		-moz-animation:    monitor_mov_960 8s infinite; /* Fx 5+ */
		-o-animation:      monitor_mov_960 8s infinite; /* Opera 12+ */
		animation:         monitor_mov_960 8s infinite;
	}
	
	#indepth_barras {
	  width: 160px;
	  height: 290px;
	}
	
	#indepth_cover #indepth_title{
		left: 245px;
	}
	
	#barras_container {
	  width: 138px;
	  margin-top: 20px;
	}
	
	#barras_container li{
		height: 22px;
	}
	
	.indepth_tltle_text{
		font-size: 46px;
		line-height: 50px;
	}
	
	#indepth_cover #indepth_title{
		height: 260px;
		width: 260px;
	}
	
	.indepth_grafica{
		float: none;
		margin-bottom: 40px;
	}
	
	#indepth_mapa_container{
		width: 750px;
	}
	
	.indepth_mapa_svg{
		width: 600px;
	}
	
	.indepth_barra_jugmin, .indepth_jugmin_jugador{
		width: 64px;
	}
	
	.indepth_min_cont{
		width: 704px;
	}
	
	#indepth_min_jug_container{
		width: 780px;
	}
	
	.idnepth_imagen_line {
	  border-bottom: 4px solid transparent;
	  border-top: 4px solid transparent;
	  border-right: 15px solid white;
	  transform: translate(-40px,0px);
	  -ms-transform: translate(-40px,0px);
	  -webkit-transform: translate(-38px,-2px);
	}

}



@media screen and (max-width:780px) {
		.indepth_goleadores_cont izq{
			width: 300px;
			
		}
		
		.indepth_goleador_circulo{
			width: 60px;
			height: 60px;
		}
		
		#indepth_goleadores{
			width: 640px;
			
		}
		
		.indepth_goleadores_cont.izq, .indepth_goleadores_cont.der{
			width: 300px;
		}
		
		.indepth_barra_nombre_jug {
		  width: 215px;
		}
		
		.indepth_barra_goles {
		  width: 85px;
		}
		
		.indepth_jugador_goles img{
			width: 70px;
		}
		
		.indepth_circulo_goles {
		  width: 30px;
		  height: 30px;
		}
		
		.indepth_goles{
			height: 30px;
		}
		
		.indepth_numero_goles{
			line-height: 30px;
		}
		
		.indepth_linea_goles_in div{
			width: 40px;
		}
		
		#indepth_goles_cabeza .indepth_circulo_goles {
		  width: 38px;
		  height: 38px;
		}
		
		.indepth_barra_goleador{
			width: 300px;
		}
		
		#indepth_goles_cabeza {
		  top: -6px;
		  left: 17px;
		}
		
		#indepth_goles_derecha {
		  left: -125px;
		  bottom: -3px;
		}
		
		#indepth_goles_izquierda {
		  right: -124px;
		  bottom: -4px;
		}
		
		.indepth_mapa_svg {
		  width: 550px;
		}
		
		#indepth_mapa_container {
			width: 700px;
		}
		
	}

@media screen and (max-width:700px) {
		#indepth_mapa_container {
			width: 96%;
		}
		
		.indepth_mapa_left{
			float: none;
			display: table;
		}
		
		.indepth_mapa_svg{
			float: none;
			width: 80%;
			margin: auto;
			margin-top: 30px;
		}
		
		.indepth_mapa_left {
		  float: none;
		  display: table;
		  width: 560px;
		  margin: auto;
		}
		
		.indepth_edo_data{
			width: 140px;
			margin-bottom: 8px;
		}
		
		.indepth_mapa_svg{
			
		}
	
}

@media screen and (max-width:600px) {
	.indepth_page_content .indepth_title{
		width: 94%;
		margin: auto;
	}
	
}

@media screen and (max-width:560px) {
	
		
		.indepth_mapa_left {
		  width: 420px;
		}
		
		.indepth_edo_data{
			width: 140px;
			margin-bottom: 8px;
		}
		
		
	
}


@media screen and (max-width:420px) {
	.indepth_mapa_left {
		  width: 280px;
		}
	
	.indepth_grafica_dirigidas{
		width: 320px;
	}
	
	.indepth_partidos_circulo{
		width: 90px;
		height: 90px;
	}
	
	.indepth_escudo_team{
		float: none;
		margin: auto;
		display: table;
	}
	
	.indepth_partidos_columna{
		width: 100px;
	}
	
	.indepth_team_cont_out{
		width: 100%;
		float: none;
	}
	
	.indepth_nombre_team{
		width: 100%;
		margin-bottom: 4px;
		text-align: center;
	}
	
	.indepth_marcador_team{
		width: 100%;
		text-align: center;
	}
	
	#indepth_goleadores{
		width: 100%;
	}
	
	.indepth_goleadores_cont.izq{
		float: none;
		margin: 10px auto;
		display: table;
	}
	
	.indepth_goleadores_cont.der{
		float: none;
		margin: 10px auto;
	}
	
	#indepth_goleadores{
		display: table;
		height: auto;
	}
	
	.indepth_grafica{
		min-width: 300px;
	}
	
	.indepth_grafica_in{
		width: 300px;
	}
	
	.indepth_grafica_text{
		width: 200px;
	}
	
	.indepth_tiempos.primero {
	  width: 185px;
	}
	
}

@media screen and (max-width:385px) {
	
	
	#indepth_cover .indepth_titlle_container{
		margin-top: 200px;
	}
	
	#indepth_cover{
		height: 500px;
	}
	
	#ficha5{
		display: none;
	}
	#indepth_page3 .indepth_disponible_title_line {
width: 5%;
}

#indepth_cover .indepth_parallax_back {
background-size: 250px auto, cover;
background-position: center 125px, 50% 0px;
background-attachment: scroll;
}
	
}

@media screen and (max-width:360px) {
	.indepth_disponible_numeros_item{
		width: 50px;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
}


@media screen and (max-height:500px) {
	#indepth_cover{
		max-height: 600px;
	}
	
	#indepth_cover .indepth_parallax_back{
		background-position: center bottom;
	}
	
	#indepth_cover .indepth_titlle_container{
		margin-top: 40%;
	}
}

@media screen and (max-height:500px) {
	#indepth_cover{
		max-height: 500px;
	}
	
	#indepth_cover .indepth_parallax_back{
		background-position: center bottom;
	}
	
	#indepth_cover .indepth_titlle_container{
		margin-top: 30%;
	}
}



@keyframes monitor_mov {
    from {transform: translate(0px,0px);}
    to {transform: translate(-1020px,0px);}
}

@-webkit-keyframes monitor_mov {
    from {transform: translate(0px,0px);}
    to {transform: translate(-1020px,0px);}
}

@-moz-keyframes monitor_mov {
    from {transform: translate(0px,0px);}
    to {transform: translate(-1020px,0px);}
}

@-o-keyframes monitor_mov {
    from {transform: translate(0px,0px);}
    to {transform: translate(-1020px,0px);}
}

@keyframes monitor_mov {
    from {transform: translate(0px,0px);}
    to {transform: translate(-1020px,0px);}
}



@keyframes monitor_mov_960 {
    from {transform: translate(0px,0px);}
    to {transform: translate(-569px,0px);}
}

@-webkit-keyframes monitor_mov_960 {
    from {transform: translate(0px,0px);}
    to {transform: translate(-569px,0px);}
}

@-moz-keyframes monitor_mov_960 {
    from {transform: translate(0px,0px);}
    to {transform: translate(-569px,0px);}
}

@-o-keyframes monitor_mov_960 {
    from {transform: translate(0px,0px);}
    to {transform: translate(-569px,0px);}
}

@keyframes monitor_mov_960 {
    from {transform: translate(0px,0px);}
    to {transform: translate(-569px,0px);}
}


